.book {
  width: 140px;
  height: 350px;
  margin: 10px 20px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
  line-height: 1.2;
  margin-top: -10px;
}
.book-authors {
  color: #999;
}

img, .empty-img {
  width: 150px;
  height: 200px;
  object-fit: fill;
  box-shadow: 2px 2px 6px #777;
}
.empty-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Shelves .book-shelf-changer {
  position: relative;
  right: -120px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s ease;
}
.Shelves .book-shelf-changer:hover {
  transform: scale(1.1);
}
.Shelves .book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.Search .book-shelf-changer {
  position: relative;
  bottom: 30px;
}